.logo {
    height: 25px;

}

.navbar-brand text-light {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
}

.list-group-item {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
}

.card-link {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
}

.card-title {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    text-align: left;


}

.card-text {
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    color: #707070;
}

.card-address {
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    color: #707070;
}


.card-text-sale {
    font-family: "Roboto Medium", sans-serif;
    font-weight: 600;
    color: #28A745;

}

.cupones {

    background-color: #28A745
}

.cupones-title {
    font-family: "Roboto Medium", sans-serif;
    font-weight: 400;

    color: #ffffff;
}

.fa {
    margin-left: 1%;
    margin-right: 1%;
}